body {
    
    margin: 0;
    padding: 0;
    background-image: url(/projeto_web_20200401/mirrorfashion/img/wallpaperbranco.png);
        background-repeat: no-repeat;
    margin-left: right;
    margin-top: 150px;
        background-position: left;
            background-attachment: fixed;
     
}

form {
    font-size: 16px;
    background: rgb(19, 17, 17);
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
}

h1 {
    color: rgb(19, 13, 13);

}

input, textarea {
    width: 470px;
    padding: 10px;

}

.enviar  input {
    background: rgb(51, 53, 54);
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    color: whitesmoke;
    cursor: pointer;


}

.enviar input:hover{
    background: rgb(61, 119, 128);

}

textarea {
    width: 470px;
    height: 90px;
    line-height: 10px;
}


